<body class="bg">
<h1 class="title">The Elderly Care Hub</h1>
<div class="button-container" style="background-color: blue;">
  <audio id="notificationSound" src="./notif.mp3" style="display: none;"></audio>



  <a routerLink="/elderly-check" class="custom-button">
    <div class="button-content">
      <i class="fas fa-user"></i>
      <span>Check on the Elderly</span>
    </div>
  </a>
  <a routerLink="/room-check" class="custom-button">
    <div class="button-content">
      <i class="fas fa-thermometer-half"></i>
      <span>Check the Room Temperature</span>
    </div>
  </a>



</div>
</body>
