.title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #0073CF;
  position: absolute;
  left:600px;
  z-index:1;

}


.button-container {
  display: flex;
  opacity: 0.8;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;}
.title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #0073CF;
  position: absolute;
  left:600px;
  z-index:1;

}


.button-container {
  display: flex;
  opacity: 0.8;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  background: url('2.png') center/cover no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.custom-button {
  background-color: #0073CF;
  color: #fff;
  text-decoration: none;
  border: 2px solid #0058A3;
  border-radius: 12px;
  padding: 30px;
  transition: background-color 0.3s, color 0.3s;
  width: 200px;
  margin: 20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}

.custom-button:hover {
  background-color: #0058A3;
  color: #fff;
}

.custom-button i {
  font-size: 32px;

}

.elderly-button {
  background-color: #0058A3;
}

.room-button {
  background-color: #F7931E;
}
